@import "@/variables.scss";

.form {
  display: grid;
  grid-template: auto auto 1fr / 1fr;

  form {
    display: grid;
    grid-template: 1fr / 1fr 1fr;

    @media screen and (max-width: $break-large) {
      grid-template: 1fr 1fr / 1fr;
    }

    & > div {
      margin: 0 10%;
    }

    .inputs {
      overflow: hidden;
      grid-area: 1 / 1;

      & > div {
        display: flex;
        justify-content: space-between;
      }
    }

    .rules {
      text-align: left;
      overflow: hidden;

      ul {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $break-large) {
          flex-direction: column-reverse;
        }

        li {
          transition: all .5s ease;
          animation: .5s ease-out 0s 1 appear;
        }

        @keyframes appear {
          from {
            transform: translateX(100px);
            opacity: 0;
          }
          to {
            transform: translateX(0);
            opacity: 1;
          }
        }
      }
    }

    .success,
    .rules {
      grid-area: 1 / 2;

      @media screen and (max-width: $break-large) {
        grid-area: 2 / 1;
      }
    }

    .form-group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      width: 100%;

      input {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid $gray;
        outline: 0;
        font-size: 1rem;
        color: $white;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;

        &::placeholder {
          color: transparent;
        }

        &:placeholder-shown ~ label {
          font-size: 1rem;
          cursor: text;
          top: 20px;
        }

        &:focus {
          ~ label {
            position: absolute;
            top: 6px;
            display: block;
            transition: 0.2s;
            font-size: 0.6rem;
            color: $primary;
          }
          padding-bottom: 6px;
          border-bottom: 2px solid teal;
          border-width: 3px;
          border-image: linear-gradient(to right, $primary, $secondary);
          border-image-slice: 1;
        }
      }

      label {
        position: absolute;
        top: 6px;
        display: block;
        transition: 0.2s;
        font-size: 0.6rem;
        color: $gray;
      }
    }
  }

  input[type="submit"] {
    border-radius: .5rem;
    border: none;
    background-image: linear-gradient(to right, $primary, $secondary);
    padding: .5rem 1rem;
    font-size: 1.2rem;
    color: $white;
    box-shadow: 0 3px 10px black;
    outline: none;

    &:hover,
    &:focus {
      filter: brightness(.85);
    }

    &:active {
      box-shadow: 0 1px 3px black;
    }
  }
}
