@import "@/variables.scss";

.form {
  display: grid;
  grid-template: auto 1fr / 1fr;

  form {
    display: grid;
    grid-template: 1fr / 1fr 1fr;

    & > div {
      margin: 0 10%;
    }

    .inputs {
      overflow: hidden;
      grid-area: 1 / 1;

      & > div {
        display: flex;
        justify-content: space-between;
      }
    }

    .rules {
      text-align: left;
    }

    .success,
    .rules {
      grid-area: 1 / 2;
    }

    .form-group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      width: 100%;

      input {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid $gray;
        outline: 0;
        font-size: 1rem;
        color: $white;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;

        &::placeholder {
          color: transparent;
        }

        &:placeholder-shown ~ label {
          font-size: 1rem;
          cursor: text;
          top: 20px;
        }

        &:focus {
          ~ label {
            position: absolute;
            top: 6px;
            display: block;
            transition: 0.2s;
            font-size: .6rem;
            color: $primary;
          }
          padding-bottom: 6px;
          border-bottom: 2px solid teal;
          border-width: 3px;
          border-image: linear-gradient(to right, $primary, $secondary);
          border-image-slice: 1;
        }
      }

      label {
        position: absolute;
        top: 6px;
        display: block;
        transition: 0.2s;
        font-size: .6rem;
        color: $gray;
      }
    }
  }
}